@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap");

:root {
  --dark-blue: #2c4873;
  --light-blue: #5ba7d1;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: red;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 10px;
}

.main {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.main-left {
  display: flex;
  flex-direction: column;
  background: var(--dark-blue);
  color: white;
  padding: 80px 60px 20px 60px;
  align-items: center;
  height: 100%;
}

.main-left .profile-img {
  background-image: url(./img/display\ picture.jpg);
  background-size: cover;
  background-position-y: -20px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.small-name {
  display: none;
}

.small-stack {
  display: none;
}

.small-profile {
  display: none;
}

.main-left .contact {
  margin: 40px 0;
  margin-bottom: 60px;
}
.main-left .contact p {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.main-left .contact .contact-details {
  padding-left: 20px;
  font-size: 0.8rem;
}
.main-left .contact .contact-details i {
  font-size: 1.2rem;
}
.main-left .contact .contact-details span {
  margin-left: 5px;
}
.email {
  margin-bottom: 5px;
}
.email a {
  color: white;
}

.skill-heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}
.skill:not(:last-child) {
  margin-bottom: 15px;
}
.skill {
  position: relative;
  background: var(--light-blue);
  width: 140px;
  height: 117px;
  padding: 20px 10px;
  font-size: 1rem;
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -2px -2px 10px rgba(0, 0, 0, 0.2);
}
.skill:hover {
  transform: scale(1.1);
  transition: 500ms all ease-in-out;
}
.skill i {
  font-size: 3rem;
}
.skill .skill-name {
  margin-top: 10px;
}
.skill:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: transparent;
  border: 0.5px solid white;
  border-radius: 0px 0px 10px 10px;
  z-index: 100;
}
.html:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
  height: 10px;
  background: white;
  border-radius: 0px 0px 0px 10px;
}
.css:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80%;
  height: 10px;
  background: white;
  border-radius: 0px 0px 0px 10px;
}
.bootstrap:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60%;
  height: 10px;
  background: white;
  border-radius: 0px 0px 0px 10px;
}
.javascript:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 10px;
  background: white;
  border-radius: 0px 0px 0px 10px;
}
.github:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60%;
  height: 10px;
  background: white;
  border-radius: 0px 0px 0px 10px;
}

.main-right {
  display: flex;
  flex-direction: column;
  padding: 80px 50px;
}

.name {
  font-family: "roboto", sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 2px;
  color: var(--dark-blue);
  position: relative;
  margin-bottom: 20px;
}
.name:after {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background: var(--dark-blue);
  left: 0;
  bottom: -10px;
}
.surname {
  display: block;
}
.small-name {
  color: white;
  font-size: 3rem;
  margin-top: 30px;
}
.small-name:after {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background: var(--light-blue);
  left: 0;
  bottom: -10px;
}

.stack {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--light-blue);
  margin-bottom: 85px;
  margin-top: 10px;
}

.heading {
  color: var(--light-blue);
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.personal-profile {
  margin-bottom: 40px;
}
.main-content {
  font-size: 1.2rem;
}

.work-experience {
  margin-bottom: 40px;
}
.work-experience p {
  font-size: 1.3rem;
  color: grey;
  margin-bottom: 10px;
}
.work-experience ul {
  padding-left: 40px;
}

.educational-history p {
  font-size: 1.3rem;
  color: grey;
  margin-bottom: 10px;
}
.educational-history ul {
  padding-left: 40px;
}

.download-btn {
  margin-top: 50px;
  cursor: pointer;
  background: var(--dark-blue);
  padding: 20px 10px;
  width: 210px;
  border-radius: 10px;
  animation-name: scale;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.download-btn:hover {
  background: var(--light-blue);
  transition: all 500ms ease-in-out;
}
.download-btn a {
  color: white;
  font-size: 1.5rem;
}

.logos {
  display: flex;
  margin-top: 50px;
  align-items: center;
  /* justify-content: space-between; */
}
.HNG {
  width: 80px;
  height: 60px;
  margin-right: 30px;
}
.HNG img {
  width: 100%;
  height: 100%;
}
.zuri {
  width: 90px;
}
.zuri img {
  width: 100%;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
